.about-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .developer-pro {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .developer {
    width: 80%;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: white;
  }

  .dev-photo {
    border-radius: 10px;
    width: 125px;
    height: auto;

  }
  
  .developer:hover {
    transform: scale(1.05);
  }
  
  .about-us {
    font-size: 2.5em;
    color: #253759;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5em;
    color: #ffc121;
  }
  
  .github-link {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: #466273;
  }
  
  .github-link:hover {
    text-decoration: underline;
  }
  
  .linkedin-link {
    font-size: 1em;
    color: #253759;
  }
  
  .developer h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  