/* CaseFiles.css */

.CaseFilesPage {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px; /* Add padding at the bottom to accommodate the navbar */
  background-color: #c0d9d9
}

.CaseFilesPage h1 {
  font-size: 20px;
  margin-bottom: 15px;
  color: black;
}

.case-files-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: calc(140vh - 200px); /* Adjust the height */
  overflow-y: auto; /* Allow vertical scrolling */
  margin-bottom: 40px;
}

.case-files-list img {
  height: 80px; /* Adjust the height to make the images smaller */
}

.case-file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #253759;
  height: 280px; /* Adjust the height */
  width: 260px; /* Ensure a consistent width */
}

.case-file-item:hover {
  background-color: #466273;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.case-file-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.case-file-content img {
  max-width: 100%;
  height: 80px; /* Adjust the height */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.case-file-content h2 {
  font-size: 15px;
  margin: 15px;
  color: white;
  padding: 5px 5px;
}

.case-file-content p {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  margin-top: 5px;
}

@media (min-width: 917px) {
  .case-files-list {
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 60px;
    
  }

  .CaseFilesPage h1 {
    font-size: 36px;
    margin-top: 50px;
  }

  .case-file-content h2 {
    font-size: 16px;
    margin: 15px;
    color: white;
    padding: 5px 5px;
  }

  .case-file-content p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
  }

}
