.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #c0d9d9;
  min-height: 100vh;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
}

.header-button {
  border: none;
  background: none; 
  cursor: pointer; 
  margin-left: 10px; 
  color: #000000;
  font-weight: bold;
  margin-left: 85px;
  margin-top: -17px;
  font-size: 15px;
}

.header-button a {
  text-decoration: none;
  color: inherit; 
}
.profile-header {
  display: flex;
  padding: 20px 20px;
  align-items: center;
  margin-top: -10px;
  border: 2px solid #ffc107;
  border-color: #253759; 
  border-radius: 10px;
  background-color: #253759;
  color: #fff;
  width: 100%;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 25px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  padding: 5px 5px;
  color: #fff;
}

.profile-details h2 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.profile-details p {
  margin: 5px 0;
  color: #fff;
  font-size: 12px;
}

.edit-profile-icon-2 {
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
}

.edit-profile-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #333;
}

.profile-badges {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: 2px solid #ffc107;
  border-color: #253759; 
  background-color: #253759;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.xp-progress {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.profile-badges h2 {
  font-size: 20px;
  text-align: center;
  margin-left: 115px;
}
.profile-badges p {
  font-size: 12px;
  text-align: center;
}

.xp-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  margin: 10px 0;
  text-align: center;
}

.xp-progress-fill {
  background-color: #ffc121;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  background-color: #b0babf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.stat h3 {
  margin-top: -10px;
  font-size: 11px;
  color: #333;
}

.stat p {
  margin-bottom: -10px;
  font-size: 11px;
  color: #666;
}

.edit-profile-button {
  background-color: #28a745;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 10px;
  background-color: #253759;
  box-shadow: 0 3px 0 #000000;
  margin-top: 20px;
  gap: 50px;
}

.edit-profile-button:hover {
  background-color: #218838;
}

.new-investigation {
  font-size: 11px;
  background-color: #253759;
  box-shadow: 0 3px 0 #000000;
  text-align: center;
  margin-top: 25px;
  width: 200px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
}



@media (min-width: 917px) {
  .header-actions{
    /* border: 5px solid green; */
    margin-bottom: 5%
  }
  .profile-stats{
    /* border: 5px solid blue; */
    width: 60%;
    height: 75px;
   margin-top: 40px;
   margin-bottom: 15px
  }
  .stat h3 {
    margin-top: 0%;
    font-size: 13px;
  }
  .new-investigation{
  font-size: 15px;
  width: 200px;
  }
  .stat p {
    font-size: 15px;
  }
  .profile-badges{
    width: 60%;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  .rank-container{
    padding-top: 3%;
    padding-bottom: 3%;
    
  }
  .rank-container h2{
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .xp-progress-bar{
    margin: 20px;
  }
  .profile-header{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-bottom: 20px;
  }

  .header-actions {
    margin-top: 2%
  }
}

